html {
  box-sizing: border-box;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  background: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 3px;
  padding:.5em;
}

h1 {
  font-family: 'Dosis';
}

p {
  font-family: 'georgia';
}

.title {
  margin:0;
  border-bottom: 3px solid #9a816d;
}
ul li {
  list-style: none;
}

.second-list {
  display: inline;
  float: right;
}

a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #785439;
  border-radius: 4px;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
}

.link-card:hover {
  background-color: #333;
  color: #fff;
}
