html {
  box-sizing: border-box;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: block;
  background: #dcd4cd;
  border: 3px solid #9a816d;
  border-radius: 3px;
  padding:.5em;
  width: 350px;
  text-decoration: none;
  color: black;
  text-align: center;
}

h1 {
  font-family: 'Dosis';
  color: #512200;
  text-align: left;
}

p {
  font-family: 'georgia';
  color: #512200;
  text-align: left;
}

.title {
  margin:0;
  border-bottom: 3px solid #9a816d;
}

.list {
  border-bottom: 3px solid #9a816d;
}

.learn-more {
  display: inline-block;
  padding: .5em .75em;
  background-color: #785439;
  border-radius: 4px;
  color: #fff;
  font-family: sans-serif;
  text-decoration: none;
}

.link-card:hover {
  background-color: #333;
  color: #fff;
}

dt,
dd {
  display: inline-block;
  color: #512200;
  text-align: left;
}

dd {
  margin: 0;
  width: 40%;
  font-style: italic;
}

dt {
  width: 40%;
}
